In [1]:
import pandas as pd

translations_df = pd.read_csv("../data/product_category_name_translation.csv")
products_df = pd.read_csv("../data/products.csv")
order_items_df = pd.read_csv('../data/order_items.csv')
order_df = pd.read_csv('../data/orders.csv')

In [2]:
merged_df = pd.merge(products_df, translations_df, how='left', on='product_category_name')
merged_df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [3]:
order_items_df.drop_duplicates(subset=['order_id', 'product_id'], keep='first', inplace=True)
print(len(order_items_df['order_id']))

merged_df = pd.merge(order_items_df, merged_df, on='product_id', how='left')

print(len(merged_df['order_id']))
merged_df.head()

102425
102425

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0,pet_shop
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0,furniture_decor
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0,perfumery
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0,garden_tools

In [4]:
merged_order_df1 = pd.merge(order_df, merged_df, on='order_id', how='left')
print(len(merged_order_df1['order_id']))

columns_to_drop = ['order_status','shipping_limit_date', 'order_item_id', 'seller_id', 'order_id', 'customer_id', 'product_category_name', 'product_id', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
merged_order_df1.drop(columns=columns_to_drop, inplace=True)

print(len(merged_order_df1['order_purchase_timestamp']))

merged_order_df1 = merged_order_df1.dropna(subset=['price', 'product_category_name_english', 'order_purchase_timestamp'], how='any')

print(len(merged_order_df1['order_purchase_timestamp']))

file_path = 'new_data_task1/merged_order_df1.csv'
merged_order_df1.to_csv(file_path, index=False)

merged_order_df1.head()

103200
103200
100943

,order_purchase_timestamp,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,2017-10-02 10:56:33,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares
1,2018-07-24 20:41:37,118.70,22.76,29.0,178.0,1.0,400.0,19.0,13.0,19.0,perfumery
2,2018-08-08 08:38:49,159.90,19.22,46.0,232.0,1.0,420.0,24.0,19.0,21.0,auto
3,2017-11-18 19:28:06,45.00,27.20,59.0,468.0,3.0,450.0,30.0,10.0,20.0,pet_shop
4,2018-02-13 21:18:39,19.90,8.72,38.0,316.0,4.0,250.0,51.0,15.0,15.0,stationery